extends layout

block content
    #conference.content.active
        p The Austin Code Camp
    #schedule.content
        h2 Conference Schedule
        p We are still in the process of accepting sessions for the conference
        p If you are interested in presenting at the Austin Code Camp, please submit your proposals today

    #location.content
        h2
            a(href="http://www.pec.stedwards.edu/contact.asp") St Edwards Professional Education Center
        iframe(width="640",
            height="480",
            frameborder="0",
            scrolling="no",
            marginheight="0",
            marginwidth="0",
            src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9420+Research+Blvd+Austin+TX&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,96.064453&amp;ie=UTF8&amp;hq=&amp;hnear=9420+Research+Blvd,+Austin,+Travis,+Texas+78759&amp;ll=30.424401,-97.727165&amp;spn=0.142102,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed")
