extends layout

block content
    .content.active
        form(action="/session/new",method="post")
            != partial("registration-form")
            h3 Presentations
            -for(var i = 0; i <=3; i++){
                p

                    input(type="hidden",name="presentations[#{i}][_id]");
                    input.presentation-title(type="text", name="presentations[#{i}][title]", placeholder="Title")
                    label(for="presentations[#{i}][duration]") Duration
                        select.presentation-duration(name="presentations[#{i}][duration]")
                            option(value="1") 1
                            option(value="2") 2
                            option(value="4") 4
                    input.presentation-description(type="text",name="presentations[#{i}][description]",width=100,placeholder="Description")
            -}


            p: input(type="submit")
    script
        var sessions = JSON.parse('!{presentations}');

    script(src="/js/session.js")'